---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'body'>

const { class: className, ...props } = Astro.props
---

<body
	class:list={['flex flex-col items-center w-full px-8', className]}
	{...props}
>
	<slot />
</body>
